// main.scss # Manifest File
//abstracts
@import 'abstracts/variables';
//@import 'abstracts/functions';
@import 'abstracts/mixins';
//@import 'abstracts/placeholders';

//vendors
@import 'vendor/bootstrap';
//@import 'vendors/jquery-ui';

//base
@import 'base/reset';
@import 'base/typography';
//@import 'layout/navigation';
@import 'base/base';

//layout
@import 'layout/nav';
//@import 'layout/grid';
@import 'layout/header';
@import 'layout/main';
//@import 'layout/footer';
//@import 'layout/sidebar';
//@import 'layout/forms';
@import 'layout/section';

//components
@import 'components/buttons';
@import 'components/nav';
//@import 'components/cover';
//  @import 'components/dropdown';
//@import 'components/inputs';

/*pages
@import 'pages/home';
@import 'pages/contact';*/

/*themes
@import 'themes/theme';
@import 'themes/admin';*///