/* Base Typography*/
    h1{
        font-family: $fuente-mono;
        font-size: $xxx-large;
    }
    
    h2{
        font-family: $fuente-mono;
        font-size: $x-large;
    }
    h3 {
        font-family: $fuente-mono;
        font-size: $large;

        }

        h4{
            font-family: $fuente-roboto;
            font-size: 3vh;
            padding-right: 20%;
            }