
.main{

&__container2{
    float: right;
    width:20.5rem;
    height:15rem;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url("/assets/img/img-2.png");
    background-size: cover;
    position: relative;
    clear:right;
    z-index: 2;
    }  

 
&__container1{
        width: 50%;
        float: left;
        height:20rem;
        vertical-align: middle;
        position: relative;
        padding: 5% 20% 5% 5%;
        clear: left;
       
        
    }

}
