.floating{

&__img3 {
    float: right;
    width:100px;
    height:200px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url("/assets/img/img-3.png");
    background-size: cover;
    position: relative;
    left: 5%;
    z-index: 1

}


&__img4{
    float: right;
    width:350px;
    height:250px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url("/assets/img/img-4.png");
    background-size: cover;
    position: relative;
    left: -5%;
    bottom: 180px;
    z-index: 1;
}

&__box1{
    float: inherit;
    width:100px;
    height:100px;
    background-size: 100% 100%;
    background-color: $flame;
     position: relative;
     left:55rem;
     bottom:8rem;
     z-index: 1;
}

&__box2{
    float: inherit;
    width:110px;
    height:110px;
    background-size: 100% 100%;
    background-color: $buff;
    position: relative;
    left:56.2rem;
    bottom:13.1rem;
    z-index: 0;
}

&__icon{
    z-index: 3;
    top: 300px
    
}


&__box3{
    float: inherit;
    width:440px;
    height:110px;
    background-size: 100% 100%;
    background-color: $white;
    position: relative;
    left:28.7rem;
    bottom:20rem;
    z-index: 0;
}

&__box4{
    float: inherit;
    width:440px;
    height:260px;
    background-size: 100% 100%;
    background-color: $blue-france;
    position: relative;
    left:28.7rem;
    bottom:20rem;
    z-index: 0;
}

&__box5{
    float: inherit;
    width:440px;
    height:100px;
    background-size: 100% 100%;
    background-color: $white;
    position: relative;
    left:28.7rem;
    bottom:43rem;
    z-index: 0;

&__container{
display: inline-block;
width: 30%;

    &__details{
        font-family: $fuente-roboto;
        font-size: $x-large;
        text-align: center;
    }
    
    &__text{
        padding: 1px 10px 1px 10px;
        text-align: center;
    }


}
}

}